<ion-view title="{{group.name}}">

	<ion-header-bar class="bar-header">
		<a class="button icon-left ion-chevron-left button-clear button-dark" href="/#/tab/categories">Back</a>
		<h1 class="title">Test Sub Categories</h1>
	</ion-header-bar>

	<ion-content>

        <div class="list">
            <div ng-repeat="test in tests">
                <a class="item" href="#/tab/category/{{params.catId}}/group/{{params.groupId}}/test/{{test.id}}/question/0">
                    {{test.name}}
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
