<ion-view title="Dash">

	<ion-header-bar class="bar-header">
		<h1 class="title">Test your IQ</h1>
	</ion-header-bar>

	<ion-content>
		<div class="list card">

			<div class="item item-avatar">
				<img src="/img/iq.png">

				<h2>How smart are you?</h2>

				<p>Take an IQ Test</p>
			</div>

			<div class="item item-body">
				<a href="/#/tab/categories" class="button button-full button-positive">Test Categories</a>
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<div addthis-toolbox class="addthis_toolbox addthis_default_style addthis_32x32_style" style="padding: 8px;">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_google_plusone_share"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
					<script type="text/javascript">var addthis_config = { "data_track_clickback": false, "data_track_addressbar":false };</script>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>
