<ion-view title="Categories">

	<ion-header-bar class="bar-header">
		<a class="button icon-left ion-chevron-left button-clear button-dark" href="/#/tab/dash">Back</a>
		<h1 class="title">Test Categories</h1>
	</ion-header-bar>

    <ion-content>

        <div class="list">
            <div ng-repeat="category in categories">

                <div class="item item-divider">
                    {{category.name}}
                </div>

                <a class="item" ng-repeat="group in category.groups" href="#/tab/category/{{category.id}}/group/{{group.id}}">
                    {{group.name}}
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>

