/* Empty. Add your own CSS if you like */
.no-elipsis h2 {
	overflow      : visible !important;
	text-overflow : clip !important;
	white-space   : normal !important;
}

.no-elipsis {
	overflow      : visible !important;
	text-overflow : clip !important;
	white-space   : normal !important;
}

.item_bg {
	background : #f8f8f8;
}

.no-margin {
	margin : 0;
}

.no-padding {
	padding : 0;
}

.pre_answer {
	float   : left;
	padding : 15px 5px;
}

.post_answer {
	float   : left;
	padding : 15px 5px;
}
